@import "tailwindcss";

/* Enable dark/light mode */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* colors */
  --color-dark: #2b2929f0;

  /* fonts */
  --font-raleway: var(--font-raleway);
  --font-playfair-display: var(--font-playfair-display);
}

:root {
  --almost-h-screen: calc(100vh - 8rem);
  --max-viewport-width: 90rem;
}
